#showcase {
  color: #fff;

  padding: 2rem;
  position: relative;
  height: 100vh;
}

#showcase .showcase-container {
  display: grid;
  justify-content: center;
  margin-top: 4rem;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

@media (max-width: 565px) {
  .display-1 {
    font-size: 3rem;
  }
}

body {
  background: #0062cc;
}
